{% extends "_base.jinja2" %}
{% block nav_right %}
            <ul class="nav pull-right">
              <li><a href="#">steder@gmail.com</a></li>
              <li><a href="http://twitter.com/thested">Twitter</a><li>
              <li><a href="https://plus.google.com/u/0/105644506967919338410/posts">G+</a><li>
            </ul>
{% endblock %}
{% block body %}
    <div class="span8">
      <h2>Sarcastic Bio</h2>
      <p>Despite being incredibly handsome and popular I was drawn to the quiet dignity of software development for a major multinational corporation.  My years of experience editing the highschool poetry magazine and playing videogames gave me a solid foundation for my career in software development.</p>

      <h2>Errata</h2>
      <ul>
        <li>I've worked in climate research groups on super computers and I've sold t-shirts.  Selling t-shirts is a lot more fun.</li>
        <li>I was raised vegetarian.  I have a busted thyroid, am allergic (technically intolerant) to gluten, and have started losing weight and feeling better now that I've started eating meat and way more fat</li>
        <li>I once killed a server in Reno just to watch it die.</li>
        <li>I'm a huge gaming geek.  Videogames (Xbox and PC mostly), boardgames (mostly euros, Taluva is my favorite), CCGs (M:TG), D&amp;D, and World of Warcraft (playing on and off since classic beta).</li>
        <li>I have many cats.</li>
        <li>I am bigger than a breadbox.</li>
      </ul>
    </div>
    <div class="span4">
      <h2>Contact Info</h2>
      <p>I am always interested in hearing from folks who have read my blog or is interested
        in any of the software I've got out there.  Feel free to contact me and I'll do
        my best to get back to you asap.
      </p>
      <ul>
        <li>You could email: <a href="#">steder@gmail.com</a></li>
        <li>You could follow me on Google+ <a href="">profile</a></li>
        <li>You could follow me on Twitter <a href="">@thested</a></li>
        <li>You could check out my StackOverflow<a href="">page</a></li>
      </ul>
    </div>
{% endblock %}
