{% extends "_base.jinja2" %}
{% block body %}
      <div class="span14">
        <div class="hero-unit">
          <div class="container-fluid">
            <div class="span8">
              <h1>Lorem Ipsum</h1>
              <p>This cat has nothing to do with anything!</p>
              <p>
                <a class="btn btn-primary btn-large" href="about.html">
                  Learn more &raquo;
                </a>
              </p>
            </div>
            <div class="span3">
              <img src="http://placekitten.com/320/240"/>
            </div>
          </div>
        </div>
      </div>

      <div class="span14">
        <div class="span4">
          <h2>Interests</h2>
           <p>Mike practices Test Driven Development, Pair Programming, and Continuous Integration.</p>
          <p><a class="btn" href="timeline.html">View details &raquo;</a></p>
       </div>
        <div class="span4">
          <h2>Projects</h2>
           <p>Mike writes software in Python (and C++, Javascript, ML, Objective-C).</p>
          <p><a class="btn" href="projects.html">View details &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Contact</h2>
          <p>I'm always open to hear about new opportunities and to discuss projects</p>
          <p><a class="btn" href="contact.html">View details &raquo;</a></p>
        </div>
      </div>
{% endblock %}
